<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anna Pavlova | Todas las obras</title>

    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body>
    <div class="lateralSide">
        <div class="logo">
            <img src="imgs/Logo.png" alt="Anna Pavlova - Academia de Ballet">
        </div>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Obras</li>
                <li>Contacto</li>

            </ul>
        </nav>
        <div class="socialNets">
            <img src="imgs/icos/Pinterest.png" alt="Pinterest" class="nets">
            <img src="imgs/icos/Twitter.png" alt="Twitter" class="nets">
            <img src="imgs/icos/Facebook.png" alt="Facebook" class="nets">
            <img src="imgs/icos/Instagram.png" alt="Instagram" class="nets">
        </div>
    </div>

    <div class="generalContainer">
        <div class="arriba">
            <div class="play1">
                <button class="seeMore">
                    +
                </button>

                <h4 class="playTitle">
                    Coppelia
                </h4>
                <div class="imgPlay">
                    <img src="imgs/coppelia.png" alt="Coppelia">
                </div>
            </div>

        </div>
        <div class="abajo">
            <div class="play1">

                <div class="imgPlay">
                    <img src="imgs/coppelia.png" alt="Coppelia">
                </div>


                <h4 class="playTitle">
                    Coppelia
                </h4>
                <button class="seeMore">
                    +
                </button>
            </div>
            <div class="play1">

                <div class="imgPlay">
                    <img src="imgs/coppelia.png" alt="Coppelia">
                </div>


                <h4 class="playTitle">
                    Coppelia
                </h4>
                <button class="seeMore">
                    +
                </button>
            </div>

        </div>


    </div>
</body>

</html>