body {
  overflow-y: hidden;
}

.superiorBar {
  height: 10vh;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  padding: 10px 20px 10px 20px;
}

.superiorBar .filtros {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.superiorBar .filtros .filtrosMas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.superiorBar .filtros .filtrosMas h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px 2%;
  font-size: 14px;
  cursor: pointer;
}

.superiorBar .filtros h3 {
  text-transform: uppercase;
  color: #1c1c1c;
  margin-right: 4%;
  width: 26vw;
  min-width: 50px;
}

.superiorBar .filtros .popUp {
  display: none;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.superiorBar .filtros .popUp .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.superiorBar .filtros .popUp > div {
  background-color: white;
  box-shadow: 10px 10px 60px #000;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 10px;
  padding: 15px 5%;
}

.superiorBar .filtros .pricePopCloser {
  cursor: pointer;
}

.superiorBar .filtros #estiloPop a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: bold;
  margin: 0 20px;
}

.superiorBar .filtros #precioPop div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.superiorBar .filtros #precioPop div div .optionRadio {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-weight: bold;
}

.superiorBar .filtros #precioPop div div button {
  margin-top: 20px;
}

.superiorBar fieldset div {
  display: inline;
}

.generalContainer {
  display: flex;
  align-items: center;
  height: 90vh;
  margin-top: -40px;
  margin-left: 20%;
  padding-left: 20px;
}

.generalContainer .play {
  float: left;
  width: 300px;
  text-align: center;
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generalContainer .play .imgPlay {
  background: #1c1c1c;
  border-radius: 500px;
  width: 100%;
  margin: 20px 0;
}

.generalContainer .play .imgPlay img {
  width: 100%;
  transform: scale(1.2, 1.2);
}

.generalContainer .play .playTitle {
  height: 55px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background: #1c1c1c;
  padding: 15px;
  font-size: 20px;
  vertical-align: middle;
}

.play[tipo=uno] {
  margin-top: -40px;
}

.play[tipo=uno] .imgPlay {
  transform: rotate(135deg);
}

.play[tipo=uno] .imgPlay img {
  transform: rotate(-135deg) scale(1.2, 1.2);
}

.play[tipo=uno] .imgPlay::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid #1c1c1c;
  outline-offset: 15px;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 100%;
  transform: scale(1.1, 1.1);
  margin-left: -11px;
  margin-top: -9px;
}

.play[tipo=dos] {
  margin-top: 0px;
}

.play[tipo=dos] .imgPlay {
  transform: rotate(-45deg);
}

.play[tipo=dos] .imgPlay img {
  transform: rotate(45deg) scale(1.2, 1.2);
}

.play[tipo=dos] .imgPlay::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid #1c1c1c;
  outline-offset: 15px;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 100%;
  transform: scale(1.1, 1.1);
  margin-left: -11px;
  margin-top: -9px;
}

@media only screen and (max-width: 650px) {
  .filtros h6 {
    margin: 0;
  }
}

@media only screen and (max-width: 1140px) {
  .generalContainer {
    margin-left: 0;
    width: 100%;
  }
  .superiorBar {
    height: 10vh;
    margin-left: 0;
  }
}
/*# sourceMappingURL=home.css.map */