$black: #1c1c1c;
$gray: #cecece;
$garamonde: 'Cormorant Garamond',
serif;
$montserrate: 'Montserrat',
sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: $montserrate;
}


.logo {
    img {
        background: white;
        border: 2px #ddd solid;
        padding: 10px;
        margin: 10vh auto;
    }
}

.lateralSide {
    position: fixed;
    height: 100vh;
    width: 20%;
    background: white;
    text-align: center;
    z-index: 99;
    nav {
        margin: 0 0 70px 0;
        ul {
            li {
                color: $black;
                font-family: $montserrate;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 50px;
            }
        }
    }
}

button {
    background: rgba(0, 0, 0, 0);
    border: 2px $black solid;
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;
    font-family: $montserrate;
    color: $black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}

.seeMore {
    width: 50px;
    margin-top: 10px;
}

@media only screen and (max-width: 1140px) {
    .lateralSide {
        display: none;
    }

}

@media only screen and (min-width: 1140px) {}