$black: #1c1c1c;
$gray: #cecece;
$garamonde: 'Cormorant Garamond',
serif;
$montserrate: 'Montserrat',
sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $montserrate;
}
.logo {
    img {
        background: white;
        border: 2px #ddd solid;
        padding: 10px;
        margin: 10vh auto;
    }
}
.lateralSide {
    position: fixed;
    height: 100vh;
    width: 20%;
    background: white;
    text-align: center;

    nav {
        margin: 0 0 70px 0;
        ul {
            li {
                color: $black;
                font-family: $montserrate;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 50px;
            }
        }
    }
}
