$black: #1c1c1c;
$gray: #cecece;
$garamonde: 'Cormorant Garamond',
serif;
$montserrate: 'Montserrat',
sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: $montserrate;
}

body {
    overflow-y: hidden;
}
.logo {
    img {
        background: white;
        border: 2px #ddd solid;
        padding: 10px;
        margin: 10vh auto;
    }
}

.lateralSide {
    position: fixed;
    height: 100vh;
    width: 20%;
    background: white;
    text-align: center;
    z-index: 99;
    nav {
        margin: 0 0 70px 0;
        ul {
            li {
                color: $black;
                font-family: $montserrate;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 50px;
            }
        }
    }
}

button {
    background: rgba(0, 0, 0, 0);
    border: 2px $black solid;
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;
    font-family: $montserrate;
    color: $black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}

.seeMore {
    width: 50px;
    margin-top: 10px;
}

.generalContainer {
    height: 100vh;
    margin-left: 20%;
    padding-left: 20px;
    padding-top: 20px;
    .play {
        float: left;
        width: 300px;
        text-align: center;
        margin: 0 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgPlay {
            background: $black;
            border-radius: 500px;
            width: 100%;
            margin: 20px 0;
            img {
                width: 100%;
                transform: scale(1.2, 1.2);
            }
        }
        .playTitle {
            height: 55px;
            width: 100%;
            text-transform: uppercase;
            color: white;
            background: $black;
            padding: 15px;
            font-size: 24px;
            vertical-align: middle;
        }
    }
}

.play[tipo=uno] {
    .imgPlay {
        transform: rotate(135deg);
        img {
            transform: rotate(-135deg) scale(1.2, 1.2);
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            border: 10px solid $black;
            outline-offset: 15px;
            /* Halve the circle */
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 100%;
            transform: scale(1.1, 1.1);
            margin-left: -11px;
            margin-top: -9px;
        }
    }
}

.play[tipo=dos] {
    margin-top: 140px;
    .imgPlay {
        transform: rotate(-45deg);
        img {
            transform: rotate(45deg) scale(1.2, 1.2);
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            border: 10px solid $black;
            outline-offset: 15px;
            /* Halve the circle */
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 100%;
            transform: scale(1.1, 1.1);
            margin-left: -11px;
            margin-top: -9px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .generalContainer {}
}

@media only screen and ( max-width: 650px) and (min-width: 501px) {
    .generalContainer {}
}

@media only screen and (max-width: 1140px) {
    .lateralSide {
        display: none;
    }
    .generalContainer {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1140px) {}