$black: #1c1c1c;
$gray: #cecece;
$garamonde: 'Cormorant Garamond',
serif;
$montserrate: 'Montserrat',
sans-serif;
.generalContainer{
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    .dataContainer{
        width: 20%;
        height: 86vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .innerDataContainer {
            //background: gray;
            .especifications {
                //background: red;
                .clasifiers{
                    display: flex;
                    flex-direction: row;
                    .clasifier {
                        border: 0px;
                        border-radius: 2px;
                        //background: gold;
                        margin-left: 2px;
                    }
                }
                .casificators {
                    //background: beige;
                   
                   .clasificatorContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;   
                        .clasificator{
                            //background: red;
                            border-radius: 20px;
                        }
                    } 
                }
            }

            .playDescription {
                //background: green;
                h4 {
                    
                }
                p {
                    width: 80%;
                    
                }
            }

            .prices{
                display: flex;
                flex-direction: row;
                .price {
                    width: 50%;
                }
            }
            .comprar{
                border: 0px;
                width: 100%;
                background: $black;
                color:white;
                border-radius: 0px;
            }

        }
    }
    .presentationContainer{
        width: 80%;
        height: 100vh;
        background: $black;
        position: relative;
        
        .superiorBar{
            z-index: 70;
        }
        h3 {
            color: white;
            z-index: 1;
        }
        .playPresentationContainer {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 500px;
            background: gray;
            //border-radius: 500px;
            
        }
    }
}
/*
.generalContainer{
    margin-left: 20%;
    .contentContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .playDescription{
            margin: 2%;
            margin-right: 20%;
            width: 38%;
            text-align: center;
            .imgPlay {
                background: $black;
                border-radius: 500px;
                width: 100%;
                margin: 40px 0;
                max-width: 460px;
                img {
                    width: 100%;
                    transform: scale(1.2, 1.2);
                }
            }
            p {
                text-align: center;
                font-size: 12px;
            }
        }

        .playTable {
            width: 90%;
            border: $black 2px solid;
            margin-left: 40px;
            .title {
                width: 100%;
                background: $black;
                text-align: center;
                padding: 10px;
                text-transform: uppercase;
                color: white;
                font-size: 30px;
                border: $black 2px solid;
                box-sizing: border-box;
            }
            .subtitle {
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                width: 100%;
                padding: 10px 0;
                color: $black;
                background: white;

                box-sizing: border-box;

            }
            .tabContainer {

                width: 100%;
                display: flex;
                flex-direction: row;
                
                ul li{
                    list-style-type: none;
                }
                .dataType {
                    border-right: $black 2px solid;
                    padding-bottom: 10px;
                    font-size: 12px;
                    width:40%;
                    text-align: right;
                    padding-right: 10px;
                }
                .data {
                    padding-left: 10px;
                    width: 60%;
                    font-size: 12px;
                }
            }

        }
    }
    .superiorBar{

    }
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 20px;
}
*/

@media only screen and (max-width: 1140px) {
    .generalContainer {
        margin-left: 0;
        width: 100%;
        /*
        .playDescription{
            width: 40%;    
        }
        */
    

    }
}

